{% extends 'layout.twig' %}

{% block css %}
        <link rel="stylesheet" href="/osomf/www/css/jquery.ui.all.css">
{% endblock %}
{% block content %}
        {% if err %}
            {% for e in err %}
                <h2>{{ e }}</h2>
            {% endfor %}
        {% else %}

<h1>{{ pageTitle }}</h1>

    {% if editAsset %}
        <a href="/osomf/asset/view/{{ ciid }}">cancel edit</a>
    {% endif %}
    <form id="frmAsset" action="" method="post">
    <fieldset>
        <legend>CI Attributes</legend>

        <dl>
            <dt><label>CI Name</label></dt>
            <dd><input name=" ciName" type="text" required value="{{ ciName }}"/></dd>
        </dl>

        <dl>
            <dt><label>Asset Description</label></dt>
            <dd><textarea name="ciDesc">{{ ciDesc }}</textarea></dd>
        </dl>

        <dl>
            <dt><label>CI Status</label></dt>
            <dd id="statusBox">
                <input id="ciStatus" value="{{ status }}"/>
                <span style="display:none" id="clearStatusBox"><img src="/osomf/www/img/cross.png"/></span>
                <input type="hidden" name="statusId" id="statusId" value="{{ statusId }}"/>
            </dd>
            <div class="ui-widget" style="margin-top:2em; font-family:Arial">
        </dl>

        <dl>
            <dt><label>CI Type</label></dt>
            <dd>
                <input id="ciType" type="text" value="{{ type }}"/>
                <span style="display:none" id="clearTypeBox"><img src="/osomf/www/img/cross.png"/></span></dd>
                <input type="hidden" name="typeId" id="typeId" value="{{ typeId }}"/>
            </dd>
            <div class="ui-widget" style="margin-top:2em; font-family:Arial">
        </dl>

        <dl>
            <dt><label>Serial Number</label></dt>
            <dd><input name="ciSerial" type="text" required value="{{ serial }}"/></dd>
        </dl>

        <dl>
            <dt><label>CI Location</label></dt>
            <dd>
                    <input id="ciLoc" name='ciLoc' type="text" value="{{ locName }}"/>
                    <span style="display:none" id="clearLocBox"><img src="/osomf/www/img/cross.png"/></span></dd>
                    <input type="hidden" name="locId" id="locId" value="{{ loc }}"/>
            </dd>
            <div class="ui-widget" style="margin-top:2em; font-family:Arial">

        </dl>
        </fieldset>

        <fieldset>
            <legend>CI Associations</legend>
            <dl>
                <dt><label>Asset Owner</label></dt>
                <dd>
                    <select name="ownerType" id="ownerType">
                        <option {% if ownerType == 'USER' %} selected=true {% endif %} value="USER" >user</option>
                        <option {% if ownerType == 'GROUP' %} selected=true {% endif %} value="GROUP" >group</option>
                    </select>
                    <input id="ciOwner" type="text" value="{{ ownerName }}"/>
                    <span style="display:none" id="clearOwnerBox"><img src="/osomf/www/img/cross.png"/></span></dd>
                    <input type="hidden" name="ownerId" id="ownerId" value="{{ ownerId }}"/>
                    <input type="hidden" name="ownerTypeVal" id="ownerTypeVal" value="{{ ownerType }}"/>
                </dd>
                <div class="ui-widget" style="margin-top:2em; font-family:Arial">
            </dl>
            
            <dl>
                <dt><label>Asset Project</label></dt>
                <dd>
                    <input id="ciProj" type="text" value="{{ projName }}"/>
                    <span style="display:none" id="clearProjBox"><img src="/osomf/www/img/cross.png"/></span></dd>
                    <input type="hidden" name="projId" id="projId" value="{{ proj }}"/>
                </dd>
                <div class="ui-widget" style="margin-top:2em; font-family:Arial">
            </dl>

            <dl>
                <dt><label>CI Physical Parent</label></dt>
                <dd>
                    <input name="ciPhy" id="ciPhy" type="text" value="{{ phyParentName }}"/>
                    <span style="display:none" id="clearPhyBox"><img src="/osomf/www/img/cross.png"/></span></dd>
                    <input type="hidden" name="phyId" id="phyId" value="{{ phyParent }}"/>
                </dd>
                <div class="ui-widget" style="margin-top:2em; font-family:Arial">
            </dl>

            <dl>
                <dt><label>CI Net Parent</label></dt>
                <dd>
                    <input id="ciNet" type="text" value="{{ netParentName }}"/>
                    <span style="display:none" id="clearNetBox"><img src="/osomf/www/img/cross.png"/></span></dd>
                    <input type="hidden" name="netId" id="netId" value="{{ netParent }}"/>
                </dd>
                <div class="ui-widget" style="margin-top:2em; font-family:Arial">
            </dl>
        </fieldset>
        <dl>
            <dt></dt>
            <dd><input name="assetSubmit" type="submit" value="{{ submitButtonText }}"/></dd>
        </dl>


    </form>

    {% endif %}
    {% endblock %}


{% block js %}
        <script type="text/javascript" src="/osomf/www/js/jquery.ui.core.min.js"></script>
        <script type="text/javascript" src="/osomf/www/js/jquery.ui.widget.min.js"></script>
        <script type="text/javascript" src="/osomf/www/js/jquery.ui.position.min.js"></script>
        <script type="text/javascript" src="/osomf/www/js/jquery.ui.autocomplete.min.js"></script>
        <script type="text/javascript" src="/osomf/www/js/asset.js"></script>
{% endblock %}