{% extends 'layout.twig' %}

{% block css %}
        <link rel="stylesheet" href="/osomf/www/css/jquery.ui.all.css">
{% endblock %}
{% block content %}
        {% if err %}
            {% for e in err %}
                <h2>{{ e }}</h2>
            {% endfor %}
        {% else %}
<div class="page-header">
    <h2>{{ pageTitle }}</h2>
</div>
{% include 'asset/nav.twig' %}


    <form id="frmAsset" action="" method="post">

    <h4>CI Attributes</h4>

        <div class="clearfix">
            <label>CI Name</label>
            <div class="input">
                <input class="medium" name=" ciName" type="text" required value="{{ ciName }}"/>
            </div>
        </div>

        <div class="clearfix">
            <label>Asset Description</label>
            <div class="input">
                <textarea name="ciDesc">{{ ciDesc }}</textarea>
            </div>
        </div>

        <div class="clearfix">
            <label>CI Status</label>
            <div class="input">
                <input id="ciStatus" value="{{ status }}"/>
                <span style="display:none" id="clearStatusBox"><img src="/osomf/www/img/cross.png"/></span>
                <input type="hidden" name="statusId" id="statusId" value="{{ statusId }}"/>
                 <div class="ui-widget" style="margin-top:2em; font-family:Arial"></div>
            </div>
        </div>

        <div class="clearfix">
            <label>CI Type</label>
            <div class="input">
                <input id="ciType" type="text" value="{{ type }}"/>
                <span style="display:none" id="clearTypeBox"><img src="/osomf/www/img/cross.png"/></span></dd>
                <input type="hidden" name="typeId" id="typeId" value="{{ typeId }}"/>

                <div class="ui-widget" style="margin-top:2em; font-family:Arial"></div>
            </div>
        </div>

        <div class="clearfix">
            <label>Serial Number</label>
            <div class="input">
                <input name="ciSerial" type="text" required value="{{ serial }}"/>
            </div>
        </div>

        <div class="clearfix">
            <label>CI Location</label>
            <div class="input">
                <input id="ciLoc" name='ciLoc' type="text" value="{{ locName }}"/>
                <span style="display:none" id="clearLocBox"><img src="/osomf/www/img/cross.png"/></span></dd>
                <input type="hidden" name="locId" id="locId" value="{{ loc }}"/>

                <div class="ui-widget" style="margin-top:2em; font-family:Arial"></div>
            </div>
        </div>

        <h4>CI Associations</h4>

            <div class="clearfix">
                <label>Asset Owner</label>
                <div class="input">
                    <select class="medium" name="ownerType" id="ownerType">
                        <option {% if ownerType == 'USER' %} selected=true {% endif %} value="USER" >user</option>
                        <option {% if ownerType == 'GROUP' %} selected=true {% endif %} value="GROUP" >group</option>
                    </select>
                    <input id="ciOwner" type="text" value="{{ ownerName }}"/>
                    <span style="display:none" id="clearOwnerBox"><img src="/osomf/www/img/cross.png"/></span></dd>
                    <input type="hidden" name="ownerId" id="ownerId" value="{{ ownerId }}"/>
                    <input type="hidden" name="ownerTypeVal" id="ownerTypeVal" value="{{ ownerType }}"/>

                    <div class="ui-widget" style="margin-top:2em; font-family:Arial"></div>
                </div>
            </div>
            
            <div class="clearfix">
                <label>Asset Project</label>
                <div class="input">
                    <input id="ciProj" type="text" value="{{ projName }}"/>
                    <span style="display:none" id="clearProjBox"><img src="/osomf/www/img/cross.png"/></span></dd>
                    <input type="hidden" name="projId" id="projId" value="{{ proj }}"/>

                    <div class="ui-widget" style="margin-top:2em; font-family:Arial"></div>
                </div>
            </div>

            <div class="clearfix">
                <label>CI Physical Parent</label>
                <div class="input">
                    <input name="ciPhy" id="ciPhy" type="text" value="{{ phyParentName }}"/>
                    <span style="display:none" id="clearPhyBox"><img src="/osomf/www/img/cross.png"/></span></dd>
                    <input type="hidden" name="phyId" id="phyId" value="{{ phyParent }}"/>

                    <div class="ui-widget" style="margin-top:2em; font-family:Arial"></div>
                 </div>
            </div>

            <div class="clearfix">
                <label>CI Net Parent</label>
                <div class="input">
                    <input id="ciNet" type="text" value="{{ netParentName }}"/>
                    <span style="display:none" id="clearNetBox"><img src="/osomf/www/img/cross.png"/></span></dd>
                    <input type="hidden" name="netId" id="netId" value="{{ netParent }}"/>

                    <div class="ui-widget" style="margin-top:2em; font-family:Arial"></div>
                </div>
            </div>
        <input type="hidden" name="assetSubmit" value="1" />
        <div class="actions">
        &nbsp;
        <button type="submit" class="btn primary">{{ submitButtonText }}</button>
        <button type="reset" class="btn">Cancel</button>
        </div>

    </form>

    {% endif %}
    {% endblock %}


{% block js %}
        <script type="text/javascript" src="/osomf/www/js/jquery.ui.core.min.js"></script>
        <script type="text/javascript" src="/osomf/www/js/jquery.ui.widget.min.js"></script>
        <script type="text/javascript" src="/osomf/www/js/jquery.ui.position.min.js"></script>
        <script type="text/javascript" src="/osomf/www/js/jquery.ui.autocomplete.min.js"></script>
        <script type="text/javascript" src="/osomf/www/js/asset.js"></script>

        <script type="text/javascript">
        $(function() {
            $("#assetEditPill").addClass('active');
        })
    </script>
{% endblock %}