{% extends 'layout.twig' %}
{% block css %}
    <link rel="stylesheet" href="/osomf/www/css/jquery.ui.all.css">
{% endblock %}

{% block content %}
    <div class="page-header">
    <h2>{{ title }}</h2>
    <a class="editLink" href="/osomf/asset/edit/{{ ciid }}">Edit</a>
</div>
<input type="hidden" id="ciid" value="{{ ciid }}"/>

    <div class="row">
        <div class="span8 columns">
            <h4>general info</h4>

            <div class="clearfix">
                <label>Asset Name</label>
                <div class="input">
                <span class="view-input">{{ ciName }}</span>
                </div>
            </div>

            <div class="clearfix">
                <label>Asset Description</label>
                <div class="input">
                <span class="view-input">{{ ciDesc }}</span>
                </div>
            </div>

            <div class="clearfix">
                <label>status</label>
                <div class="input">
                <span class="view-input">{{ status }}</span>
                </div>
            </div>

            <div class="clearfix">
                <label>created</label>
                <div class="input">
                <span class="view-input">{{ ctime }}</span>
                </div>
            </div>

            <div class="clearfix">
                <label>last modified</label>
                <div class="input">
                <span class="view-input">{{ mtime }}</span>
                </div>
            </div>

            <div class="clearfix">
                <label>type</label>
                <div class="input">
                <span class="view-input">{{ type }}</span>
                </div>
            </div>

            <div class="clearfix">
                <label>serial #</label>
                <div class="input">
                <span class="view-input">{{ serial }}</span>
                </div>
            </div>

            <div class="clearfix">
                <label>acquired</label>
                <div class="input">
                <span class="view-input">{{ acquired }}</span>
                </div>
            </div>

            {% if retired == 1 %}
            <div class="clearfix">
                <label>disposed</label>
                <div class="input">
                <span class="view-input">{{ disposed }}</span>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="span6 columns">
        <h4>associations</h4>

             <div class="clearfix">
                <label>Owner</label>
                <div class="input">
                <a class="link-input" href="{{ ownerLink }}">{{ ownerName }}</a>
                </div>
            </div>

            <div class="clearfix">
                <label>Project</label>
                {% if proj >= 1 %}
                    <div class="input">
                    <a class="link-input" href="{{ projLink }}">{{ projName }}</a>
                    </div>
                {% endif %}
            </div>

            <div class="clearfix">
                <label>Location</label>
                {% if loc >= 1 %}
                    <div class="input">
                    <a class="link-input" href="{{ locLink }}">{{ locName }}</a>
                    </div>
                {% endif %}
            </div>

            <h4>relations</h4>


            <div class="clearfix">
                <label>Network Parent</label>
                {% if netParent >= 1 %}
                <div class="input">
                    <a class="link-input" href="{{ netParentLink }}">{{ netParentName }}</a>
                </div>
                {% endif %}
            </div>


            <div class="clearfix">
                <label>Physical Parent</label>
                {% if phyParent >= 1 %}
                <div class="input">
                    <a class="link-input" href="{{ phyParentLink }}">{{ phyParentName }}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>

    <fieldset class="container">
    <div class="colLeft">
    <fieldset>
        <legend>Asset Attributes <a id="attributeModal" href="#"><img src="/osomf/www/img/add.png"/></a></legend>
        <div id="assetAttributes">
        {% for attrName, attrVal in attributes %}
        <dl>
            <dt><label>{{ attrName }}</label></dt>
            <dd>{{ attrVal }}</dd>
        </dl>
        {% endfor %}
        </div>
    </fieldset>
    </div>
    <div class="colRight">
    <fieldset>
        <legend>Asset Tags</legend>
    </fieldset>
    </div>
    </fieldset>

<!-- TODO Move to Tabbed view for known errors -->
    <fieldset>
        <legend>Known Errors/Incidents</legend>
    </fieldset>
    {% include 'modals/AssetAttributes.twig' %}
    {% endblock %}

    {% block js %}
    <script type="text/javascript" src="/osomf/www/js/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="/osomf/www/js/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="/osomf/www/js/jquery.ui.position.min.js"></script>
    <script type="text/javascript" src="/osomf/www/js/jquery.ui.autocomplete.min.js"></script>
    <script type="text/javascript" src="/osomf/www/js/asset_view.js"></script>
{% endblock %}