{% extends "layout.twig" %}

        {% block title %} {{ title }} {% endblock %}
{% block content %}
        <a href="javascript:history.go(-1)">Go Back</a>
<h2 class="pageHeading">
    {{ title }}
    {% if isGroupAdmin == 1 %}
    [ADMIN]
    {% endif %}
</h2>

    <fieldset>
        <legend>user group data</legend>


        <dl>
            <dt><label>Group Name</label></dt>
            <dd>{{ groupName }}</dd>
        </dl>

        <dl>
            <dt><label>Group Desc</label></dt>
            <dd>{{ groupDesc }}</dd>
        </dl>

        <dl>
            <dt><label>phone</label></dt>
            <dd>{{ phone }}</dd>
        </dl>
        
        <dl>
            <dt><label>pager</label></dt>
            <dd>{{ pager }}</dd>
        </dl>

    </fieldset>
    
    <fieldset>
        <legend>Group Members</legend>
        {% for u in users %}
            {% if loop.index0 % 4 == 0 %}
                <div class="users">
            {% endif %}
            <ul class="contact {{u.status }}" onclick="javascript:userView({{ u.uid }})">
            <li>{{ u.name }}</li>
            <li>e: <a href="mailto:{{ u.email }}">{{ u.email }}</a></li>
            <li>ph: {{ u.phone }}</li>
            <li>pa: {{ u.pager }}</li>
            </ul>
            {% if loop.index0 % 4 == 3 or loop.last %}
                </div>
            {% endif %}
            {% endfor %}

    </fieldset>

<script type="text/javascript">
    function userView(uid)
    {
        window.location = "/osomf/user/view/"+uid;
    }
</script>
{% endblock %}

