{% extends "layout.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Create New Incident</h1>
    </div>


        <form method="POST" name="frmIncident" action=''>
        <div class="row">
        <div class="span8 columns">
        <h4>incident information</h4>

            <div class="clearfix">
                <label>title</label>
                <div class="input">
                    <input class="medium" type="text" name="title" required/>
                </div>
            </div>

            <div class="clearfix">
                <label>status</label>
                <div class="input">
                    <select class="medium" name="incidentStatus">
                        {% for id, val in statusVals %}
                            <option value="{{ id }}">{{ val }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="clearfix">
                <label>Severity</label>
                <div class="input">
                    <select class="medium" name="incidentSev">
                        {% for id, val in sevVals %}
                        <option value="{{ id }}">{{ val }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="clearfix">
                <label>Description</label>
                <div class="input">
                    <textarea name="desc">{{ desc }}</textarea>
                </div>
            </div>

            <div class="clearfix">
                <label>Impact</label>
                <div class="input">
                    <textarea name="impact">{{ impact }}</textarea>
                </div>
            </div>

            <div class="clearfix">
                <label>Revenue Impact</label>
                <div class="input">
                    <textarea name="revImpact">{{ revImpact }}</textarea>
                </div>
            </div>
        </div>

        <div class="span8 columns">
            <h4>timeline</h4>

            <div class="clearfix">
                <label>Detect Time</label>
                <div class="input">
                    <input class="medium" type="text" name="detectTime" value="{{ detectTime }}"/>
                </div>
            </div>

            <div class="clearfix">
                <label>start time</label>
                <div class="input">
                    <input class="medium" type="text" name="startTime" value="{{ startTime }}"/>
                </div>
            </div>
        </div>
    </div>
    
    <input type="hidden" name="subIncident" value="1" />
    <div class="actions">
        <button type="submit" class="btn primary">Create</button>
        <button type="reset" class="btn">Cancel</button>
    </div>
    </form>

{% endblock %}


