{% extends "layout.twig" %}

{% block css %}
        <link rel="stylesheet" href="/osomf/www/css/jquery.ui.all.css" />
{% endblock %}

{% block content %}

    {% include 'incident/nav.twig' %}
    <div class="page-header">
        <h3>Incident Edit</h3>
    </div>

        <form method="POST" name="frmIncident" action=''>
            <input type="hidden" id="incidentId" value="{{ incidentId }}" />

        <div class="row">
            <div class="clearfix">
                <label>title</label>
                <div class="input">
                    <input class="medium" type="text" name="title" required value="{{ incidentTitle }}" />
                </div>
            </div>

            <div class="clearfix">
                <label>status</label>
                <div class="input">
                    <span class="view-input">{{ status }}</span>
                </div>
            </div>

            <div class="clearfix">
                <label>Severity</label>
                <div class="input">
                    <select class="medium" name="severity">
                    {% for id, val in sevValues %}
                    {% if val == severity %}
                    <option SELECTED value="{{ id }}">{{ val }}</option>
                    {% else %}
                        <option value="{{ id }}">{{ val }}</option>
                    {% endif %}
                    {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="clearfix">
                <label>Description</label>
                <div class="input">
                    <textarea name="desc">{{ desc }}</textarea>
                </div>
            </div>

            <div class="clearfix">
                <label>Impact</label>
                <div class="input">
                    <textarea name="impact">{{ impact }}</textarea>
                </div>
            </div>

            <div class="clearfix">
                <label>Revenue Impact</label>
                <div class="input">
                    <textarea name="revImpact">{{ revImpact }}</textarea>
                </div>
            </div>
        </div>

        <div class="row">
        <div class="span8 columns">
            <h4>Timeline</h4>
            <div class="clearfix">
                <label>Detect Time</label>
                <div class="input">
                    <input class="medium" type="text" name="detectTime" value="{{ detectTime }}"/>
                </div>
            </div>
            <div class="clearfix">
                <label>start time</label>
                <div class="input">
                    <input class="medium" type="text" name="startTime" value="{{ startTime }}"/>
                </div>
            </div>
            <div class="clearfix">
                <label>create time</label>
                <div class="input">
                    <span class="view-input">{{ ctime }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>last modified</label>
                <div class="input">
                    <span class="view-input">{{ mtime }}</span>
                </div>
            </div>
        </div>
        <div class="span8 columns">
            <h4>Resolution</h4>
            <div class="clearfix">
                <label>Resolve Time</label>
                <div class="input">
                    <input class="medium" type="text" name="resolveTime" value="{{ resolveTime }}"/>
                </div>
            </div>
            <div class="clearfix">
                <label>Resolve Steps</label>
                <div class="input">
                    <textarea name="resolveSteps">{{ resolveSteps }}</textarea>
                </div>
            </div>
            <div class="clearfix">
                <label>Responsible Project</label>
                <div class="input">
                        <input class="medium" id="respProj" type="text" value="{{ respProjName }}" size=15/>
                        <span style="display:none" id="clearProjBox"><img src="/osomf/www/img/cross.png"/></span>
                </div>
                <input type="hidden" name="projId" id="projId" value="{{ proj }}"/>
            </div>
        </div>
        </div>

        <div class="actions">
            <button type="submit" class="btn primary">Update</button>
            <button type="reset" class="btn">Cancel</button>
        </div>
    </form>

{% endblock %}


    
{% block js %}
        <script type="text/javascript" src="/osomf/www/js/jquery.ui.core.min.js"></script>
        <script type="text/javascript" src="/osomf/www/js/jquery.ui.widget.min.js"></script>
        <script type="text/javascript" src="/osomf/www/js/jquery.ui.position.min.js"></script>
        <script type="text/javascript" src="/osomf/www/js/jquery.ui.autocomplete.min.js"></script>
    <script type="text/javascript" src="/osomf/www/js/incidentEdit.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#incidentEditPill").addClass('active');
        })
    </script>
{% endblock %}

