{% extends "layout.twig" %}

{% block css %}
        <link rel="stylesheet" href="/osomf/www/css/jquery.ui.all.css">
{% endblock %}
{% block title %}
    {{ pageTitle }}
{% endblock %}
{% block content %}

    <input type="hidden" id="incidentId" value="{{ incidentId }}"/>
    {% include 'incident/nav.twig' %}
    <div class="page-header">
        <h3>Incident History</h3>
    </div>

    <table class="zebra-striped">
        <tr>
            <th>user</th>
            <th>time</th>
            <th>changes</th>
        </tr>
        {% for c in changes %}
        <tr>
            <td><a href="/osomf/user/view/{{ c.user }}">{{ c.username }}</a></td>
            <td>{{ c.time }}</td>
            <td>
                <table class="embedded">
                    <tr>
                        <th>Change</th>
                        <th>Original</th>
                        <th>New</th>
                    </tr>
                    {% for d in c.deltas %}
                    <tr>
                        <td>{{ d.col }}</td>
                        <td>{{ d.orig }}</td>
                        <td>{{ d.new }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block js %}
<script type="text/javascript">
        $(function() {
            $("#incidentHistPill").addClass('active');
        });
    </script>

{% endblock %}