{% extends 'layout.twig' %}

{% block content %}
<div class="page-header">
    <h2>Current Listing of Ongoing Incidents</h2>
    <!-- TODO Swap this out for a button -->
    <a class="editLink" href="/osomf/incident/add">New Incident</a>
</div>


    <table class="zebra-striped" id="incidentHome">
        <tr>
            <th>Incident</th>
            <th>Title</th>
            <th>Status/Severity</th>
            <th>start time</th>
        </tr>
        {% for i in incidents %}
            <tr>
                <td><a href="/osomf/incident/view/{{ i.incidentId }}">{{ i.incidentId }}</a></td>
                <td>{{ i.title }}</td>
                <td>{{ i.status }} / {{ i.severity }}</td>
                <td>{{ i.start_time }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endblock %}