{% extends "layout.twig" %}
{% block css %}
        <link rel="stylesheet" href="/osomf/www/css/jquery.ui.all.css">
{% endblock %}
{% block content %}

    <input type="hidden" id="incidentId" value="{{ incidentId }}"/>

    {% include 'incident/nav.twig' %}
    <div class="page-header">
        <h3>Incident View</h3>
    </div>

    <div class="row">
        <div class="span8 columns">

            <div class="clearfix">
                <label>title</label>
                <div class="input">
                    <span class="view-input">{{ incidentTitle }}</span>
                </div>
            </div>

            <div class="clearfix">
                <label>status</label>
                <div class="input">
                    <span class="view-input">
                        <span id="incidentStatus">{{ status }}</span>

                    <a id="changeIncidentStatus" href="#">
                        <img src="/osomf/www/img/arrow_switch.png"/>
                    </a>
                    </span>
                </div>
            </div>

            <div class="clearfix">
                <label>severity</label>
                <div class="input">
                    <span class="view-input">{{ severity }}</span>
                </div>
            </div>
        </div>
        <div class="span8 columns">
            <div class="clearfix">
                <label>Description</label>
                <div class="input">
                    <span class="view-input">{{ desc }}</span>
                </div>
            </div>

            <div class="clearfix">
                <label>Impact</label>
                <div class="input">
                    <span class="view-input">{{ impact }}</span>
                </div>
            </div>

            <div class="clearfix">
                <label>Revenue Impact</label>
                <div class="input">
                    <span class="view-input">{{ revImpact }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span8 columns">
        <h4>Timeline</h4>
            <div class="clearfix">
                <label>Detect Time</label>
                <div class="input">
                    <span class="view-input">{{ detectTime }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>start time</label>
                <div class="input">
                    <span class="view-input">{{ startTime }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>create time</label>
                <div class="input">
                    <span class="view-input">{{ ctime }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>last modified</label>
                <div class="input">
                    <span class="view-input">{{ mtime }}</span>
                </div>
            </div>
        </div>
        <div class="span8 columns">
        <h4>Resolution</h4>
            <div class="clearfix">
                <label>Resolve Time</label>
                <div class="input">
                    <span class="view-input">{{ resolveTime }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>Resolve Steps</label>
                <div class="input">
                    <span class="view-input">{{ resolveSteps }}</span>
                </div>
            </div>
            <div class="clearfix">
                <label>Responsible Project</label>
                <div class="input">
                    <a class="link-input" href="{{ respProjLink }}">{{ respProjName }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <fieldset>
        <legend>impacts <a id="impactAddModal" href="#"><img src="/osomf/www/img/add.png"/></a></legend>
        <table class="zebra-striped" id="incidentImpactsTable">
            <tr>
                <th>type</th>
                <th>impact</th>
                <th>severity</th>
                <th>description</th>
                <th></th>
            </tr>
            {% for im in impacts %}
            <tr id="impactRow{{ im.id }}">
                <td>{{ im.type }}</td>
                <td><a href="/osomf/{{ im.type }}/view/{{ im.itemId }}">{{ im.item }}</a></td>
                <td>{{ im.sev }}</td>
                <td>{{ im.desc }}</td>
                <td><img src="/osomf/www/img/cancel.png" onclick="javascript:removeImpact('{{ im.id }}')"/> </td>
            </tr>
            {% endfor %}
        </table>
    </fieldset>
    </div>

    <div class="row">
    <fieldset>
        <legend>Worklog <a id="worklogAddModal" href="#"><img src="/osomf/www/img/add.png"/></a></legend>
        <table class="zebra-striped" id="incidentWorklogTable">
            <tr>
                <th>user</th>
                <th>time</th>
                <th>type</th>
                <th>data</th>
            </tr>
            {% for wl in worklogs %}
            <tr>
                <td>{{ wl.user }}</td>
                <td>{{ wl.mtime }}</td>
                <td>{{ wl.type }}</td>
                {% if wl.type == 'STATUS' %}
                    <td>[orig] {{ wl.data[0] }} [new] {{ wl.data[1] }} [Reason] {{ wl.data[2] }}</td>
                {% else %}
                <td>{{ wl.data }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </fieldset>
    </div>

     {% include 'modals/incidentImpact.twig' %}
     {% include 'modals/incidentWorklog.twig' %}
     {% include 'modals/incidentStatusUpdate.twig' %}
{% endblock %}


    
{% block js %}
    <script type="text/javascript" src="/osomf/www/js/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="/osomf/www/js/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="/osomf/www/js/jquery.ui.position.min.js"></script>
    <script type="text/javascript" src="/osomf/www/js/jquery.ui.autocomplete.min.js"></script>
    <script type="text/javascript" src="/osomf/www/js/jquery.simplemodal.1.4.1.min.js"></script>
    <script type="text/javascript" src="/osomf/www/js/incident.js"></script>

    <script type="text/javascript">
        $(function() {
            $("#incidentViewPill").addClass('active');
        })
    </script>
{% endblock %}

